@import "tailwindcss";

@custom-variant hover (&:hover); //force touchscreen device to hover

@theme {
  --font-sans: "Google Sans", sans-serif;
}

@layer base {
  html {
    font-family: "Google Sans", sans-serif;
  }

  body {
    -ms-overflow-style: none;  /* IE and Edge */
  }

  body::-webkit-scrollbar {
    display: none;           /* Chrome, Safari, Opera */
  }
}

@layer components {
  .main-menu {
    @apply font-bold flex;

    &:hover {
      @apply text-purple-600;

      svg {
        @apply text-purple-600;
      }
    }

    svg {
      @apply text-gray-400;
    }
  }

  .main-menu-active {
    @apply text-purple-600 font-bold flex;

    svg {
      @apply text-purple-600;
    }
  }

  .sub-menu {
    @apply uppercase block px-4 py-2 text-sm text-gray-700 data-focus:bg-gray-50 data-focus:text-purple-600;
  }

  .sub-menu-active {
    @apply uppercase block px-4 py-2 text-sm text-purple-600 bg-gray-50;
  }

  .vr {
    @apply bg-gray-400/25 h-9 w-px ;
  }
}

